@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

.btn-secondary{
background: none;
border: none;
color: rgb(183, 211, 223);
}
.btn-secondary:hover{
background: none;
border: none;
}
.container{
margin: 15px auto;
border-radius: 4px;
border: 1px solid rgb(216, 206, 206);
background-color: blanchedalmond;

}
.image-logo{
/* background-image:url(/src/images/zi.jpeg); */
height: 200px;
width: 200px;
background: url("../src/images/ft.jpeg");
background-position: 0 100;
}

.image-lg{
/* background-image:url(/src/images/zi.jpeg); */
height: 200px;
width: 200px;
background: url("../src/images/pm.jpeg");
background-position: 0 100;
}

.image-lv{
/* background-image:url(/src/images/zi.jpeg); */
height: 200px;
width: 200px;
background: url("../src/images/gd.jpeg");
background-position: 0 100;
}
.header{
color:beige;
}